<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="htp://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
	<link rel="stylesheet" href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' />

	<style>
		#mapid { 
			height: 600px;
			width: 800px;
		}
	</style>

	<title>Ag Indy - Indy's Premier City Data Aggregator</title>
</head>

<body>
	<div id="mapid"></div>
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script>
		var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; 2016 OpenStreetMap contributors',
			maxZoom: 18
		});

        var map = L.map('mapid').fitWorld().addLayer(osm).setView([39.768, -86.159], 11);
	</script>
</body>