<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Ag Indy - Indy's Premier City Data Aggregator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="<%= url('/assets/css/main.css') %>" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
	<div id="wrapper">
		<header id="header">
			<div class="inner">

				<!-- Logo -->
					<a href="/" class="logo">
						<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Ag Indy</span>
					</a>

				<!-- Nav -->
					<nav>
						<ul>
							<li><a href="#menu">Menu</a></li>
						</ul>
					</nav>

			</div>
		</header>

		<%= erb :menu %>

	<!-- Main -->
		<div id="main">
			<div class="inner">
				<p><a href="/">Back</a></p>
				<header>
					<h1>List of Maps</h1>
					<h2>Pre-Drawn Maps</h2>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="/violence">Violent Crimes in 2014</a></td>
									<td>A map of all rapes and homicides in the greater Indianapolis area in 2014.</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h2>Interactive Maps</h2>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="/violent_crime_by_year">Violent Crimes by Year</a></td>
									<td>A map with options to show all rapes and homicides in the greater Indianapolis area from 2010-2014 and options for police beat and neighborhood overlays.</td>
								</tr>
								<tr>
									<td><a href="/robbery_by_year">Robberies by Year</a></td>
									<td>A map with options to show all armed burglaries and robberies in the greater Indianapolis area from 2010-2014 and options for police beat and neighborhood overlays.</td>
								</tr>
							</tbody>
						</table>
					</div>				
				</header>
			</div>
		</div>

	<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="copyright">
					<li>&copy; 2016.  All rights reserved.  Made with &hearts; by Team Buckeye.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

	</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>
