<!-- Menu -->
<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/maps">Maps</a></li>
		<li><a href="/stats">Statistical Analysis</a></li>
		<li><a href="/about">About Us</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</nav>

